version: "3.9"

services:
  fhir-server:
    image: alphora/cqf-ruler:0.14.2-SNAPSHOT
    #image: costateixeira/hapi:test
    #image: hapiproject/hapi:latest
    restart: always
    container_name: ${server_name}
    ports:
      - ${server_port:-8080}:8080
    env_file:
      - .env
    environment:
       - hapi.fhir.allow_multiple_delete=true
       - hapi.fhir.reuse_cached_search_results_millis=1000

      #  - hapi.fhir.implementationguides.${ig_name:-this}.url=${ig_url}/package.tgz
      #  - hapi.fhir.implementationguides.${ig_name:-this}.name=${ig_package_name}
      #  - hapi.fhir.implementationguides.${ig_name:-this}.version=${ig_version}

  web:
    image: nginx:alpine
    container_name: webserver
    ports:
      - ${static_server_port:-8087}:80
    command: >-
      /bin/sh -c "
      apk --no-cache add git wget && \
      cd /usr/share/nginx/html/ && \
      wget -O resources.json $ig_url/package.db && \
      echo '{\"ig_url\": \"'$ig_url'\", \"server_url\": \"http://localhost:'$server_port'/fhir\"}' > config.json && \
      cd /tmp && \
      rm -rf smart-ig-starter-kit && \
      git clone https://github.com/WorldHealthOrganization/smart-ig-starter-kit.git && \
      cp -r /tmp/smart-ig-starter-kit/testing/app/* /usr/share/nginx/html/ && \
      nginx -g 'daemon off;'"
      
    volumes:
      - ./nginx-content:/usr/share/nginx/html                         